<div class="btn white darken-4 col s10 m4">
    <h3>Start a Game</h3>
    <%= form_for @conn, Routes.v2_path(@conn, :start_game), [method: :post], fn f -> %>
        <label>
            Name:<%= text_input f, :name %>
        </label>
        <label>
            Buyin Chips: <%= number_input f, :buyin_chips %>
        </label>
        <label>
            Buyin Dollars: <%= number_input f, :buyin_dollars %>
        </label>
        <%= submit "Start Game" %>
    <% end %>
</div>
